<div class="navbar">
    <h2 class="navbar-logo">ShopEasy</h2>
    <div >
        <i class="fa-solid fa-bars hamburger" (click)="toggleLinks()"></i>
        <ul [ngClass]= "['navbar-nav', isLinkOpen()===true ? 'show' : '']" >
            <li>
                <a routerLink="home" class="links" routerLinkActive="active">Home  </a>
            </li>
             <li>
                <a routerLink="cart" class="links" routerLinkActive="active">Cart <span class="carti">{{getTotalQuantity() | async}} </span></a>
            </li>
             <li>
                <a class="links" routerLink="wishlist" routerLinkActive="active">Wishlist</a>
            </li>
            
        </ul>
    </div>
</div>